html {
    /* px 表示“像素（pixels）”: 基础字号为 10 像素 */
    font-size: 20px;
    /* Google fonts 输出的 CSS */
    font-family: 'Chivo Mono', monospace;
    background-color: bisque;
  }

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 10px solid lightpink;
}

h1 {
    padding: 20px 0;
    color: cadetblue;
    text-shadow: 3px 3px 1px black;
    font-size: 50px;
    text-align: center;
    background-color: antiquewhite;
}
h2 {
    font-size: 30px;
    text-align: center;
 }
img {
    display: block;
    margin: 0 auto;
}
p, li {
    font-size: 16px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
}